@use '../util' as *;

.dropdown {
  position: relative;

  &__content {
    z-index: 9999;
    top: rem(44);
    padding-block: rem(24);
    background-color: hsl(var(--clr-neutral-800));
    border-radius: rem(10);
    box-shadow: 0 rem(20) rem(50) rem(-21) rgba(0, 0, 0, 0.1);
    width: auto;
    position: absolute;
    min-width: 100%;
    cursor: pointer;
    opacity: 0;
    transform: translateY(-5%);
    transition: var(--transition);
    pointer-events: none;

    &.content-open {
      opacity: 1;
      transform: translateY(0);
      pointer-events: all;
    }

    .btn-select {
      position: relative;
      border: none;
      justify-content: flex-start;
      padding-inline-start: rem(35);

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: rem(10);
        width: rem(16);
        height: rem(16);
        border-radius: rem(8);
        border: rem(1) solid hsl(var(--clr-neutral-0));
        transform: translateY(-50%);
      }

      &.active {
        &::before {
          border-color: hsl(var(--clr-blue-600));
          border-width: rem(4);
        }
      }
    }
  }

  @include breakpoint(tablet) {
    & > button {
      display: none;
    }

    &__content {
      opacity: 1;
      background-color: transparent;
      position: relative;
      padding-block: 0;
      top: 0;
      pointer-events: visible;

      .btn-select {
        position: relative;
        border: rem(1) solid hsl(var(--clr-neutral-500));
        justify-content: flex-start;
        padding-inline: rem(10);

        &::before {
          content: none;
        }

        &.active {
          border-color: hsl(var(--clr-blue-600));
        }
      }
    }

    &__settings {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: rem(6);
    }
  }
}
